<tr class="text-center">
  <td>{{ invoice.ref }}</td>
  <td>{{ invoice.date|timezone:"Europe/Paris"|date:"Y-m-d" }}</td>
  <td>{{ invoice.date_lim_reglement|timezone:"Europe/Paris"|date:"Y-m-d" }}</td>
  <td>
    <span class="badge badge-{%if invoice.paye == '0' and not invoice.dol_line_contract.array_options.options_renew_auto %}warning{% elif invoice.paye == '0' and invoice.dol_line_contract.array_options.options_renew_auto %}info{% else %}success{% endif %}">
      {%if invoice.paye == '0' %}{%if not invoice.dol_line_contract.array_options.options_renew_auto %}Reste à payer{% else %}À venir{% endif %} {{ invoice.remaintopay }} {{ invoice.multicurrency_code }}{% else %}Payé{% endif %}
    </span>
  </td>
  <td>
    {% if invoice.mode_reglement_code == 'VIR' %}Virement bancaire{% endif %}
    {% if invoice.mode_reglement_code == 'CB' %}Carte bancaire{% endif %}
    {% if invoice.mode_reglement_code == 'PP' %}Paypal{% endif %}
    {% if invoice.mode_reglement_code == 'CB' and invoice.paye == '0' and not invoice.dol_line_contract.array_options.options_renew_auto %}
      <a class="btn btn-sm btn-site-primary" href="{%url 'lac_dolibarr_home:invoice-stripe' facid=invoice.id %}"><span class="fab fa-cc-stripe"></span> Payer maintenant</a>
    {% endif %}
    {% if invoice.mode_reglement_code == 'PP' and invoice.paye == '0' and not invoice.dol_line_contract.array_options.options_renew_auto %}
      <a class="btn btn-sm btn-site-primary" href="{%url 'lac_dolibarr_home:invoice-paypal' facid=invoice.id %}"><span class="fab fa-cc-paypal"></span> Payer maintenant</a>
    {% endif %}
    {% if invoice.mode_reglement_code == 'CB' and invoice.paye == '0' and invoice.dol_line_contract.array_options.options_renew_auto %}
      <span class="badge badge-info ml-1">Prélèvement automatique</span>
    {% endif %}
    {% if invoice.mode_reglement_code == 'CB' and invoice.mode_reglement_stripe %}
      <a class="btn btn-sm btn-site-secondary" href="{%url 'lac_dolibarr_home:invoice-stripe' facid=invoice.id %}"><span class="fab fa-cc-stripe"></span> Consulter les paiements faits via Stripe</a>
    {% endif %}
    {% if invoice.mode_reglement_code == 'PP' and invoice.mode_reglement_paypal %}
      <a class="btn btn-sm btn-site-secondary" href="{%url 'lac_dolibarr_home:invoice-paypal' facid=invoice.id %}"><span class="fab fa-cc-paypal"></span> Consulter les paiements faits via Paypal</a>
    {% endif %}
  </td>
  <td>
    <a class="btn btn-sm btn-site-secondary mr-1" href="{%url 'lac_dolibarr_home:invoice-details' facid=invoice.id %}"><span class="fas fa-file-invoice"></span> Voir</a>
    <a class="btn btn-sm btn-site-secondary" href="{%url 'lac_dolibarr_home:document_download' facid=invoice.id doc=invoice.last_main_doc %}"><span class="fas fa-file-download"></span> Télécharger</a>
  </td>
</tr>