{% extends site_tmpl_base %}

{% block body_class %}{{ block.super }} dolibarr{% endblock %}

{% block sidemenu %}{% include "lac_main/partials/menu/side_menu.html" with nav_class="navbar-left" %}{% endblock %}

{% block topmenu %}{% include "lac_main/partials/menu/main_menu.html" with nav_class="navbar-site-dark bg-site-dark" label="factures" %}{% endblock %}

{% block base %}

<div class="row p-2">

  <h1 class="dolibarr"><span class="fas fa-file-invoice"></span> Factures</h1>

  {% include "lac_dolibarr/partials/info_paiements.html" %}
  
  <div class="w-100 d-flex flex-row-reverse m-1">
    {% if bouton_after %}
        <a class="btn btn-sm btn-site-primary ml-2" href="{% url 'lac_dolibarr_home:invoices' socid=dj_tier_info.dolibarr_tier_id %}?limit={{ limit }}{{ query_a }}">Suivant &#8594;</a>
    {% endif %}
    {% if bouton_before %}
        <a class="btn btn-sm btn-site-primary" href="{% url 'lac_dolibarr_home:invoices' socid=dj_tier_info.dolibarr_tier_id %}?limit={{ limit }}{{ query_b }}">&#8592; Précédent</a>
    {% endif %}
  </div>

  <table class="table table-bordered table-light">
    {% include "lac_dolibarr/partials/invoice_th.html" %}
    {% for invoice in invoices %}
      {% include "lac_dolibarr/partials/invoice_tr.html" with invoice=invoice %}
    {% endfor %}
  </table>

</div>
{% endblock %}
